router bgp {{ bpg_local_as[inventory_hostname] }}
 bgp router-id {{ loopback_ips_v4[inventory_hostname] }}
 address-family ipv4 unicast
 !
 address-family ipv4 multicast
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
 !
 address-family vpnv6 unicast
 !
 address-family l2vpn vpls-vpws
 !
 address-family ipv4 rt-filter
 !
 address-family ipv6 mvpn
 !
 address-family l2vpn evpn
 !
 address-family link-state link-state
 !
 address-family ipv4 flowspec
 !
 address-family ipv4 sr-policy
 !
 address-family ipv6 sr-policy
 !
 neighbor-group RR
  remote-as {{ bpg_remote_as[inventory_hostname] }}
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  !
  address-family ipv4 multicast
   route-reflector-client
  !
  address-family vpnv4 unicast
   route-reflector-client
   soft-reconfiguration inbound always
  !
  address-family ipv6 unicast
   route-reflector-client
  !
  address-family vpnv6 unicast
   route-reflector-client
   soft-reconfiguration inbound always
  !
  address-family l2vpn vpls-vpws
   route-reflector-client
  !
  address-family ipv4 rt-filter
   route-reflector-client
  !
  address-family ipv6 mvpn
   route-reflector-client
  !
  address-family l2vpn evpn
   route-reflector-client
  !
  address-family ipv4 flowspec
   route-reflector-client
  !
  address-family ipv4 sr-policy
   route-reflector-client
  !
  address-family ipv6 sr-policy
   route-reflector-client
  !
 !
 neighbor-group RR-SERVER
  remote-as {{ bpg_local_as[inventory_hostname] }}
  update-source Loopback0
  address-family ipv4 unicast
  !
  address-family ipv4 multicast
  !
  address-family vpnv4 unicast
  !
  address-family ipv6 unicast
  !
  address-family vpnv6 unicast
  !
  address-family l2vpn vpls-vpws
  !
  address-family ipv4 rt-filter
  !
  address-family ipv6 mvpn
  !
  address-family l2vpn evpn
  !
  address-family ipv4 flowspec
  !
  address-family ipv4 sr-policy
  !
  address-family ipv6 sr-policy
  !
 !
{% for nbr in bgp_neighbors[inventory_hostname] %}

 neighbor {{ nbr.ip_v4 }}
{% if nbr.is_rrc == 1 %}
  use neighbor-group RR
{% else %}
  use neighbor-group RR-SERVER
{% endif %}
{% if nbr.is_ls == 1 %}
  address-family link-state link-state
   route-reflector-client
  !
{% endif %}
 !

{% endfor %}
!         


