router bgp {{ bpg_local_as[inventory_hostname] }}
 bgp router-id {{ loopback_ips_v4[inventory_hostname] }}
 address-family ipv4 unicast
  redistribute static
 !
 address-family ipv4 multicast
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
 !
 address-family vpnv6 unicast
 !
 address-family l2vpn vpls-vpws
 !
 address-family ipv4 rt-filter
 !
 address-family ipv6 mvpn
 !
 address-family l2vpn evpn
 !
 {% if bgp_is_ls[inventory_hostname] == 1 %}
 address-family link-state link-state
 !
 {% endif %}
 address-family ipv4 flowspec
 !
 address-family ipv4 sr-policy
 !
 address-family ipv6 sr-policy
 !
 neighbor-group RR
  remote-as {{ bpg_remote_as[inventory_hostname] }}
  update-source Loopback0
  address-family ipv4 unicast
  !
  address-family ipv4 multicast
  !
  address-family vpnv4 unicast
   soft-reconfiguration inbound always
  !
  address-family ipv6 unicast
  !
  address-family vpnv6 unicast
   soft-reconfiguration inbound always
  !
  address-family l2vpn vpls-vpws
  !
  address-family ipv4 rt-filter
  !
  address-family ipv6 mvpn
  !
  address-family l2vpn evpn
  !
  address-family ipv4 flowspec
  !
  address-family ipv4 sr-policy
  !
  address-family ipv6 sr-policy
  !
 !
{% for nbr in bgp_neighbors[inventory_hostname] %}
 neighbor {{ nbr.ip_v4 }}
  use neighbor-group RR
{% if nbr.is_ls == 1 %}
  address-family link-state link-state
  !
{% endif %}
 !
{% endfor %}
!         


